/* /Pages/Assembly.razor.rz.scp.css */
.assembly-header[b-u5l6ycqe8q] {
    text-align: center;
    color: whitesmoke;
    margin-bottom: 1.2rem;
    font-size: 2.8rem;
}

.building-select[b-u5l6ycqe8q] {
    max-width: fit-content;
    margin: 0 auto 20px;
}

.building-select-header[b-u5l6ycqe8q] {
    width: 100%;
    height: 50px;
    background-color: #7F7F7F;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

    .building-select-header > p[b-u5l6ycqe8q] {
        margin: 0;
        color: whitesmoke;
        font-weight: 400;
        font-size: 1.2em;
    }

.building-select-buttons[b-u5l6ycqe8q] {
    padding: 6px 2px 0;
    background-color: rgba(0, 0, 0, 0.95);
}

.assembly-building[b-u5l6ycqe8q] {
    width: 80px;
    height: 80px;
    margin: 0 3px;
    border: none;
    outline: none !important;
    border-radius: 0;
    transition: none;
    box-shadow: none;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #414241;
}

    .assembly-building:hover[b-u5l6ycqe8q] {
        background-color: #7F7F7F;
    }

    .assembly-building:disabled[b-u5l6ycqe8q] {
        opacity: .65;
    }

        .assembly-building:disabled:hover[b-u5l6ycqe8q] {
            background-color: #414241;
        }

.building-base[b-u5l6ycqe8q] {
    height: 90px;
    width: 90px;
}

.assembly-container[b-u5l6ycqe8q] {
    width: 100%;
    padding: 0 8vw;
    display: flex;
    justify-content: space-around;
}

.vehicle-select-header[b-u5l6ycqe8q] {
    width: 100%;
    height: 50px;
    background-color: #7F7F7F;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

    .vehicle-select-header > p[b-u5l6ycqe8q] {
        margin: 0;
        color: whitesmoke;
        font-weight: 400;
        font-size: 1.2em;
    }

.vehicle-grid[b-u5l6ycqe8q] {
    height: 105px;
    width: 600px;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 4px;
    background-color: black;
}

    .vehicle-grid > button[b-u5l6ycqe8q] {
        aspect-ratio: 1;
        outline: none !important;
        border-radius: 0;
        transition: none;
        box-shadow: none;
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #414241;
    }

        .vehicle-grid > button:hover[b-u5l6ycqe8q] {
            background-color: #7F7F7F;
        }

.output-info[b-u5l6ycqe8q] {
    height: max-content;
    width: 725px;
    max-width: 100vw;
    background-color: rgba(0, 0, 0, 0.95);
    color: whitesmoke;
}

.output-header[b-u5l6ycqe8q] {
    width: 100%;
    height: 50px;
    background-color: #7F7F7F;
    justify-content: space-between;
}

    .output-header button[b-u5l6ycqe8q] {
        outline: none !important;
        height: 100%;
        font-size: 1.2em;
        box-shadow: none;
    }

.output-header-text[b-u5l6ycqe8q] {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

    .output-header-text > p[b-u5l6ycqe8q] {
        margin: 0;
        font-weight: 400;
        font-size: 1.2em;
    }

.output-categories[b-u5l6ycqe8q] {
    width: 100%;
    height: 400px;
    padding: 6px;
    padding-right: 0;
    padding-bottom: 0;
    grid-gap: 4px;
    overflow-y: scroll;
}

    .output-categories > *[b-u5l6ycqe8q] {
        width: 100%;
        height: 25%;
        background-color: #272828;
    }

.output-top[b-u5l6ycqe8q] {
    height: 60%;
    display: flex;
    flex-direction: row;
}

.output-top-image[b-u5l6ycqe8q] {
    width: 8%;
    height: 100%;
    margin-right: 12px;
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
}

.output-top-items[b-u5l6ycqe8q] {
    width: 84%;
    max-height: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

    .output-top-items > button[b-u5l6ycqe8q] {
        height: 100%;
        width: 10%;
        padding: 0;
        outline: none !important;
        border: none;
        border-radius: 0;
        transition: none;
        box-shadow: none;
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: center;
    }

        .output-top-items > button:hover[b-u5l6ycqe8q] {
            background-color: #7F7F7F;
        }

.output-item-count[b-u5l6ycqe8q] {
    justify-self: flex-end;
    width: 8%;
    font-size: 2rem;
    padding: 4px;
}

.output-bottom[b-u5l6ycqe8q] {
    height: 40%;
    display: flex;
    flex-direction: row;
    background-color: #414241;
}

    .output-bottom > *[b-u5l6ycqe8q] {
        width: 20%;
        margin: 2px;
        padding-right: 12px;
        display: flex;
        justify-content: right;
        align-items: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-size: 25%;
        background-position: 5px;
        background-color: rgba(0, 0, 0, 0.3);
    }

.output-sum-background[b-u5l6ycqe8q] {
    height: 100px;
    display: flex;
    padding: 6px;
}

.output-sum[b-u5l6ycqe8q] {
    width: 100%;
    height: 88px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #414241;
    font-size: 1.5rem;
}
    .output-sum > *[b-u5l6ycqe8q] {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: row;
    }
    
    .sum-conmats > *[b-u5l6ycqe8q], .sum-assmats > *[b-u5l6ycqe8q] {
        margin: 2px;
        padding-right: 12px;
        display: flex;
        justify-content: right;
        align-items: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-size: 25%;
        background-position: 5px;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .sum-conmats > *[b-u5l6ycqe8q] {
        width: 25%;
    }

    .sum-assmats > *[b-u5l6ycqe8q] {
        width: 20%;
    }

/* OTHER STUFF */

.button-disabled[b-u5l6ycqe8q] {
    opacity: .65;
}

    .button-disabled:hover[b-u5l6ycqe8q] {
        background-color: #414241 !important;
    }

*[b-u5l6ycqe8q]::-webkit-scrollbar {
    display: block;
    width: 12px;
}

*[b-u5l6ycqe8q]::-webkit-scrollbar-button {
    display: none;
}

*[b-u5l6ycqe8q]::-webkit-scrollbar-track {
    background-color: #00000000;
}

*[b-u5l6ycqe8q]::-webkit-scrollbar-track-piece {
    background-color: #00000000;
}

*[b-u5l6ycqe8q]::-webkit-scrollbar-thumb {
    background-color: #7F7F7F;
}

@media only screen and (max-width: 1600px) {

    .assembly-container[b-u5l6ycqe8q] {
        width: 100vw;
        padding: 0;
        margin: 0;
        flex-direction: column;
        align-items: center;
    }

    .vehicle-grid[b-u5l6ycqe8q] {
        width: 100vw;
        height: max-content;
    }

    .vehicle-select-header > p[b-u5l6ycqe8q] {
        max-height: 100%;
        font-weight: 400;
        font-size: 1.2em;
        padding: 0.5rem 1rem;
    }

    .output-header > p[b-u5l6ycqe8q] {
        font-size: 1.2em;
    }

    .output-header button[b-u5l6ycqe8q] {
        font-size: 1em;
    }

    @media only screen and (max-width: 650px) {
        .vehicle-grid[b-u5l6ycqe8q] {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        .output-info[b-u5l6ycqe8q] {
            width: 100vw;
        }

        .output-top-items > button[b-u5l6ycqe8q] {
            width: 20%;
        }

        .output-bottom > *[b-u5l6ycqe8q] {
            background-size: 40%;
        }

        .sum-pricename[b-u5l6ycqe8q] {
            display: none;
        }
    }
}
/* /Pages/Facility.razor.rz.scp.css */
.facility-header[b-22iwbtwwcp] {
    text-align: center;
    color: whitesmoke;
    margin-bottom: 1.2rem;
    font-size: 2.8rem;
}

.facility-container[b-22iwbtwwcp] {
    width: 100%;
    padding: 0 8vw;
    display: flex;
    justify-content: center
}

.building-select[b-22iwbtwwcp] {
    max-width: fit-content;
    margin: 0 auto 20px;
}

.building-select-header[b-22iwbtwwcp] {
    width: 100%;
    height: 50px;
    background-color: #7F7F7F;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

    .building-select-header > p[b-22iwbtwwcp] {
        margin: 0;
        color: whitesmoke;
        font-weight: 400;
        font-size: 1.2em;
    }

.building-select-buttons[b-22iwbtwwcp] {
    padding: 6px 2px 0;
    background-color: rgba(0, 0, 0, 0.95);
}

.facility-building[b-22iwbtwwcp] {
    width: 100px;
    height: 100px;
    margin: 0 3px;
    border: none;
    outline: none !important;
    border-radius: 0;
    transition: none;
    box-shadow: none;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #414241;
}

    .facility-building:hover[b-22iwbtwwcp] {
        background-color: #7F7F7F;
    }

    .facility-building:disabled[b-22iwbtwwcp] {
        opacity: .65;
    }

        .facility-building:disabled:hover[b-22iwbtwwcp] {
            background-color: #414241;
        }

facility-container[b-22iwbtwwcp] {
    width: 100%;
    padding: 0 8vw;
    display: flex;
    justify-content: space-around;
}

.recipe-list[b-22iwbtwwcp] {
    width: 750px;
    height: fit-content;
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0.95);
    display: flex;
    flex-direction: column;
}

.recipe-header[b-22iwbtwwcp] {
    width: 100%;
    height: 50px;
    background-color: #7F7F7F;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

    .recipe-header > p[b-22iwbtwwcp] {
        margin: 0;
        color: whitesmoke;
        font-weight: 400;
        font-size: 1.2em;
    }

.facility-recipes[b-22iwbtwwcp] {
    max-height: 250px;
    padding: 8px;
    display: grid;
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow-y: auto;
}

.facility-recipe[b-22iwbtwwcp] {
    padding: 12px;
    background-color: #212121;
}

.recipe-item-info[b-22iwbtwwcp] {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.input-item[b-22iwbtwwcp] {
    width: 80px;
    aspect-ratio: 1;
    outline: none !important;
    border-radius: 0;
    border-width: 0;
    transition: none;
    box-shadow: none;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #414241;
    cursor: default;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: whitesmoke;
    font-size: 18px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

    .input-item:hover[b-22iwbtwwcp] {
        background-color: #7F7F7F;
    }

.recipe-info[b-22iwbtwwcp] {
    display: flex;
    flex-direction: column;
}

    .recipe-info p[b-22iwbtwwcp] {
        margin: 0;
        height: fit-content;
        color: #E5BA82;
        text-align: center;
    }

    .recipe-info img[b-22iwbtwwcp] {
        height: 40px;
        width: auto;
        margin: auto;
    }

.power-icon[b-22iwbtwwcp] {
    height: 16px;
    aspect-ratio: 1;
    display: inline-block;
    background-image: url(icons/ProductionPower.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.recipe-time[b-22iwbtwwcp] {
    margin-top: auto;
    color: #E5BA82;
    text-align: center;
}

.recipe-multiplier[b-22iwbtwwcp] {
    margin: auto 0 auto auto;
    display: flex;
    flex-direction: row;
}

    .recipe-multiplier > input[b-22iwbtwwcp] {
        color: whitesmoke;
        width: 120px;
        text-align: right;
        font-size: 40px;
        background: none;
        border: 1px dashed whitesmoke;
    }

.extra-recipe-info[b-22iwbtwwcp] {
    width: 40px;
    height: 40px;
    margin: auto 8px auto 0;
    outline: none !important;
    border-radius: 0;
    border-width: 0;
    transition: none;
    box-shadow: none;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #414241;
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

    .extra-recipe-info:hover[b-22iwbtwwcp] {
        background-color: #7F7F7F;
    }

.upgrade-select[b-22iwbtwwcp] {
    max-width: fit-content;
    max-height: max-content;
    margin: 0 0 20px;
}

.upgrade-select-header[b-22iwbtwwcp] {
    width: 100%;
    height: 50px;
    background-color: #7F7F7F;
    display: flex;
    align-items: center;
    padding: 0 0.6rem;
}

    .upgrade-select-header > p[b-22iwbtwwcp] {
        margin: 0;
        color: whitesmoke;
        font-weight: 400;
        font-size: 1.2em;
    }

.upgrade-select-buttons[b-22iwbtwwcp] {
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.95);
    gap: 8px;
}

.building-upgrade[b-22iwbtwwcp] {
    width: 100px;
    height: 100px;
    border: none;
    outline: none !important;
    border-radius: 0;
    transition: none;
    box-shadow: none;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #414241;
}

    .building-upgrade:hover[b-22iwbtwwcp] {
        background-color: #7F7F7F;
    }

    .building-upgrade:disabled[b-22iwbtwwcp] {
        opacity: .65;
    }

        .building-upgrade:disabled:hover[b-22iwbtwwcp] {
            background-color: #414241;
        }

.recipe-infobox[b-22iwbtwwcp] {
    position: fixed;
    z-index: 1;
    max-width: 410px;
    background-color: rgba(0, 0, 0, 0.95);
    color: rgb(230, 230, 230);
    font-size: 16px;
}

.recipe-infobox[b-22iwbtwwcp], .recipe-infobox > *[b-22iwbtwwcp] {
    pointer-events: none;
}

.recipe-infobox-header[b-22iwbtwwcp] {
    background-color: #7F7F7F;
    margin: 0 !important;
    padding: 0.4rem;
    padding-left: 12px;
}

    .recipe-infobox-header > p[b-22iwbtwwcp] {
        margin: 0 !important;
        vertical-align: middle;
    }

.recipe-infobox-info[b-22iwbtwwcp] {
    margin: 0.8rem;
}

.recipe-infobox-info > p[b-22iwbtwwcp] {
    margin: 0;
}

    .recipe-infobox-info > p > span[b-22iwbtwwcp], .recipe-infobox-info > p > i[b-22iwbtwwcp] {
        color: #E5BA82;
    }

@media only screen and (max-width: 800px) {
    .recipe-infobox[b-22iwbtwwcp], .recipe-infobox > *[b-22iwbtwwcp] {
        display: none !important;
    }
}

/* OTHER STUFF */

.button-disabled[b-22iwbtwwcp] {
    opacity: .65;
}

    .button-disabled:hover[b-22iwbtwwcp] {
        background-color: #414241 !important;
    }

*[b-22iwbtwwcp]::-webkit-scrollbar {
    display: block;
    width: 12px;
}

*[b-22iwbtwwcp]::-webkit-scrollbar-button {
    display: none;
}

*[b-22iwbtwwcp]::-webkit-scrollbar-track {
    background-color: #00000000;
}

*[b-22iwbtwwcp]::-webkit-scrollbar-track-piece {
    background-color: #00000000;
}

*[b-22iwbtwwcp]::-webkit-scrollbar-thumb {
    background-color: #7F7F7F;
}
/* /Pages/Index.razor.rz.scp.css */
.production-header[b-rz48f9patv] {
    text-align: center;
    color: whitesmoke;
    margin-bottom: 1.2rem;
    font-size: 2.8rem;
}

.production-container[b-rz48f9patv] {
    width: 100%;
    padding: 0 8vw;
    justify-content: space-between;
}

/* INPUT HEADER, CATEGORY AND PRODUCTION MODE SELECTION */

.production-select[b-rz48f9patv] {
    width: 725px;
    max-width: 100vw;
}

.grid-header[b-rz48f9patv] {
    width: 100%;
    height: 50px;
    background-color: #7F7F7F;
    justify-content: space-between;
}

    .grid-header > button[b-rz48f9patv] {
        max-height: 100%;
        outline: none !important;
        box-shadow: none;
        font-size: 1.2rem;
    }

.grid-header-text[b-rz48f9patv] {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

    .grid-header-text > p[b-rz48f9patv] {
        margin: 0;
        font-weight: 400;
        font-size: 1.2em;
    }

.category-selector[b-rz48f9patv] {
    height: 60px;
    width: 100%;
    justify-content: flex-start;
    background-color: #5E5E5E;
}

/* ITEM SELECTION */

.category-button[b-rz48f9patv] {
    height: 100%;
    aspect-ratio: 1;
    outline: none !important;
    border-radius: 0;
    transition: none;
    box-shadow: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.category-button:hover[b-rz48f9patv] {
    background-color: rgba(255, 255, 255, 0.4);
}

.category-selected[b-rz48f9patv] {
    background-color: rgba(255, 255, 255, 0.4);
}

.category-grid-background[b-rz48f9patv] {
    height: 610px;
    padding: 6px;
    background-color: rgba(0, 0, 0, 0.95);
    overflow-y: auto;
}

.category-grid[b-rz48f9patv] {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 4px;
}

    .category-grid > button[b-rz48f9patv] {
        aspect-ratio: 1;
        outline: none !important;
        border-radius: 0;
        transition: none;
        box-shadow: none;
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #414241;
    }

        .category-grid > button:hover[b-rz48f9patv] {
            background-color: #7F7F7F;
        }

/* OUTPUT HEADER, PRICEMODE AND RESET */

.output-info[b-rz48f9patv] {
    height: max-content;
    width: 725px;
    max-width: 100vw;
    background-color: rgba(0, 0, 0, 0.95);
}

.output-header[b-rz48f9patv] {
    width: 100%;
    height: 50px;
    background-color: #7F7F7F;
    justify-content: space-between;
}

    .output-header button[b-rz48f9patv] {
        outline: none !important;
        height: 100%;
        font-size: 1.2em;
        box-shadow: none;
    }

.output-header-text[b-rz48f9patv] {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

    .output-header-text > p[b-rz48f9patv] {
        margin: 0;
        font-weight: 400;
        font-size: 1.2em;
    }

.output-categories[b-rz48f9patv] {
    width: 100%;
    height: 624px;
    padding: 6px;
    padding-bottom: 0;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 4px;
}

    .output-categories > *[b-rz48f9patv] {
        width: 100%;
        background-color: #272828;
    }

.output-top[b-rz48f9patv] {
    height: 60%;
    display: flex;
    flex-direction: row;
}

.output-top-image[b-rz48f9patv] {
    width: 8%;
    height: 100%;
    margin-right: 12px;
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
}

.output-top-items[b-rz48f9patv] {
    width: 84%;
    max-height: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

    .output-top-items > button[b-rz48f9patv] {
        height: 100%;
        width: 11%;
        padding: 0;
        outline: none !important;
        border: none;
        border-radius: 0;
        transition: none;
        box-shadow: none;
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: center;
    }

        .output-top-items > button:hover[b-rz48f9patv] {
            background-color: #7F7F7F;
        }

.output-item-count[b-rz48f9patv] {
    justify-self: flex-end;
    width: 8%;
    font-size: 2rem;
    padding: 4px;
}

.output-bottom[b-rz48f9patv] {
    height: 40%;
    display: flex;
    flex-direction: row;
    background-color: #414241;
}

    .output-bottom > *[b-rz48f9patv] {
        width: 20%;
        margin: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-size: 18%;
        background-position: 5px; 
        background-color: rgba(0, 0, 0, 0.3);
    }

.output-sum-background[b-rz48f9patv] {
    height: 50px;
    display: flex;
    padding: 6px;
}

.output-sum[b-rz48f9patv] {
    display: flex;
    flex-direction: row;
    background-color: #414241;
    height: 38px;
    width: 100%;
}

    .output-sum > *[b-rz48f9patv] {
        width: 25%;
        margin: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-size: 15%;
        background-position: 5px;
        background-color: rgba(0, 0, 0, 0.3);
        font-size: 20px;
    }

/* OTHER STUFF */

.button-disabled[b-rz48f9patv] {
    opacity: .65;
}

    .button-disabled:hover[b-rz48f9patv] {
        background-color: #414241 !important;
    }

*[b-rz48f9patv]::-webkit-scrollbar {
    display: block;
    width: 12px;
}

*[b-rz48f9patv]::-webkit-scrollbar-button {
    display: none;
}

*[b-rz48f9patv]::-webkit-scrollbar-track {
    background-color: #00000000;
}

*[b-rz48f9patv]::-webkit-scrollbar-track-piece {
    background-color: #00000000;
}

*[b-rz48f9patv]::-webkit-scrollbar-thumb {
    background-color: #7F7F7F;
}

/* MY ATTEMPT AT MAKING THIS WHOLE JUMBLE RESPONSIVE */

@media only screen and (max-width: 1550px) {
    .production-container[b-rz48f9patv] {
        padding: 0;
    }
}

@media only screen and (max-width: 1200px) {
    .production-container[b-rz48f9patv] {
        width: 100vw;
        padding: 0;
        margin: 0;
        flex-direction: column;
        align-items: center;
    }

    .category-grid-background[b-rz48f9patv] {
        height: max-content;
    }

    .grid-header > p[b-rz48f9patv] {
        max-height: 100%;
        font-weight: 400;
        font-size: 1.2em;
        padding: 0.5rem 1rem;
    }

    .grid-header > button[b-rz48f9patv] {
        max-height: 100%;
        outline: none !important;
        box-shadow: none;
        font-size: 1rem;
    }

    .category-selector[b-rz48f9patv] {
        height: 40px;
        justify-content: space-around;
    }

    .category-button[b-rz48f9patv] {
        aspect-ratio: 1.3;
    }

    .category-grid[b-rz48f9patv] {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .output-header > p[b-rz48f9patv] {
        font-size: 1.2em;
    }

    .output-header button[b-rz48f9patv] {
        font-size: 1em;
    }

    @media only screen and (max-width: 500px) {
        .category-grid[b-rz48f9patv] {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
}
/* /Shared/About.razor.rz.scp.css */
.about-container[b-dwg33yn5ks] {
    margin-top: auto;
    width: 100vw;
    height: 100vh;
    top: 0vh;
    background-color: #00000060;
    position: fixed;
    z-index: 2;
    align-items: center;
    justify-content: center;
}

.about-infobox[b-dwg33yn5ks] {
    width: 650px;
    background-color: rgba(0, 0, 0, 0.95);
    color: rgb(230, 230, 230);
    z-index: 3;
}

    .about-infobox h1[b-dwg33yn5ks] {
        padding: 12px;
        margin-bottom: 4px;
        background-color: #7F7F7F;
        text-align: center;
    }

    .about-infobox p[b-dwg33yn5ks] {
        padding: 4px 18px;
        margin-bottom: 0;
        font-size: 1.2rem;
    }

    .about-infobox hr[b-dwg33yn5ks] {
        margin: 12px 0;
    }

    .changelog p[b-dwg33yn5ks] {
        font-size: 1.4rem;
        margin-bottom: 4px;
    }

    .changelog ul[b-dwg33yn5ks] {
        margin: 8px 4px;
    }

.about-trademark[b-dwg33yn5ks], .about-trademark > *[b-dwg33yn5ks] {
    text-align: center;
    font-style: italic;
    color: #E5BA82;
    padding-bottom: 18px !important;
}

.about-background[b-dwg33yn5ks] {
    width: 100%;
    height: 100%;
    position: fixed;
}
/* /Shared/FacilityInfobox.razor.rz.scp.css */
*[b-fxbjlt235f] {
    pointer-events: none;
}

p[b-fxbjlt235f] {
    margin-bottom: 0.6rem !important;
}

.building-infobox[b-fxbjlt235f] {
    position: fixed;
    z-index: 1;
    max-width: 410px;
    background-color: rgba(0, 0, 0, 0.95);
    color: rgb(230, 230, 230);
    font-size: 16px;
}

.infobox-header[b-fxbjlt235f] {
    background-color: #7F7F7F;
    margin: 0 !important;
    padding: 0.4rem;
    padding-left: 12px;
}

    .infobox-header > p[b-fxbjlt235f] {
        margin: 0 !important;
        vertical-align: middle;
    }

.building-info[b-fxbjlt235f] {
    padding: 12px;
}

.building-category[b-fxbjlt235f] {
    color: #E5BA82;
    font-style: italic;
}

.building-damagetype[b-fxbjlt235f] {
    color: #F2804B;
}

.building-damageinfo[b-fxbjlt235f] {
    color: #E5BA82;
}

.building-ammoused[b-fxbjlt235f] {
    color: #BCBCBC;
}

.building-cratesize[b-fxbjlt235f] {
    color: #F2804B;
}

.building-costs[b-fxbjlt235f] {
    flex-direction: column;
}

    .building-costs > *[b-fxbjlt235f] {
        display: flex;
        height: 40px;
        width: 100%;
        margin-top: 12px;
        background-color: #7F7F7F;
        flex-direction: row;
    }

    .building-costs img[b-fxbjlt235f] {
        height: 100%;
        padding: 4px;
    }

    .building-costs span[b-fxbjlt235f] {
        padding: 8px;
    }

@media only screen and (max-width: 800px) {
    *[b-fxbjlt235f] {
        display: none !important;
    }
}
/* /Shared/ItemInfobox.razor.rz.scp.css */
*[b-122ssxney2] {
    pointer-events: none;
}

p[b-122ssxney2] {
    margin-bottom: 0.6rem !important;
}

.item-infobox[b-122ssxney2] {
    position: fixed;
    z-index: 1;
    width: 410px;
    background-color: rgba(0, 0, 0, 0.95);
    color: rgb(230, 230, 230);
    font-size: 16px;
}

.infobox-header[b-122ssxney2] {
    background-color: #7F7F7F;
    margin: 0 !important;
    padding: 0.4rem;
    padding-left: 12px;
}

    .infobox-header > p[b-122ssxney2] {
        margin: 0 !important;
        vertical-align: middle;
    }

.item-info[b-122ssxney2] {
    padding: 12px;
}

.item-category[b-122ssxney2] {
    color: #E5BA82;
    font-style: italic;
}

.item-damagetype[b-122ssxney2] {
    color: #F2804B;
}

.item-damageinfo[b-122ssxney2] {
    color: #E5BA82;
}

.item-ammoused[b-122ssxney2] {
    color: #BCBCBC;
}

.item-cratesize[b-122ssxney2] {
    color: #F2804B;
}

.item-costs[b-122ssxney2] {
    flex-direction: column;
}

    .item-costs > *[b-122ssxney2] {
        display: flex;
        height: 40px;
        width: 100%;
        margin-top: 12px;
        background-color: #7F7F7F;
        flex-direction: row;
    }

    .item-costs img[b-122ssxney2] {
        height: 100%;
        padding: 4px;
    }

    .item-costs span[b-122ssxney2] {
        padding: 8px;
    }

@media only screen and (max-width: 800px) {
    *[b-122ssxney2] {
        display: none !important;
    }
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-j1d26w5cpj] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-j1d26w5cpj] {
    flex: 1;
}

.top-row[b-j1d26w5cpj] {
    background-color: #727272ed;
    justify-content: flex-start;
    height: 6vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

@media (max-width: 640.98px) {
    .top-row a[b-j1d26w5cpj], .top-row .btn-link[b-j1d26w5cpj] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .top-row[b-j1d26w5cpj] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    article[b-j1d26w5cpj] {
        height: 94vh;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-1w542lhpil] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-1w542lhpil] {
    height: 3.5rem;
}

.navbar-brand[b-1w542lhpil] {
    font-size: 1.3rem;
    margin: 0;
    margin-right: 1.2rem;
}

.oi[b-1w542lhpil] {
    font-size: 1.1rem;
    vertical-align: text-top;
}

.nav-link-text[b-1w542lhpil] {
    font-size: 1.1rem;
    margin-left: 12px;
}

.nav-item[b-1w542lhpil] {
    font-size: 0.9rem;
}

.nav-item[b-1w542lhpil]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-1w542lhpil]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (max-width: 500px) {
    .nav-link-text[b-1w542lhpil] {
        display: none;
    }
}

@media (min-width: 641px) {
    .navbar-toggler[b-1w542lhpil] {
        display: none;
    }
}
