.facility-header {
    text-align: center;
    color: whitesmoke;
    margin-bottom: 1.2rem;
    font-size: 2.8rem;
}

.facility-container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

/* ITEM SELECTION */

.item-select {
    max-width: fit-content;
    max-height: max-content;
    margin: 0 0 20px;
}

.item-select-header {
    width: 100%;
    height: 50px;
    background-color: #7F7F7F;
    display: flex;
    align-items: center;
    padding-left: 0.6rem;
}

    .item-select-header > p {
        margin: 0;
        color: whitesmoke;
        font-weight: 400;
        font-size: 1.2em;
    }

    .item-select-header > button:first-of-type {
        margin-left: auto;
        box-shadow: none;
        font-weight: 400;
        font-size: 1.2em;
    }

.item-select-info {
    margin-right: 12px;
    font-weight: 400;
    font-size: 1.2em;
    width: 30px;
    height: 30px;
    transition: none;
    border: 1px black solid;
    box-shadow: none;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #787878;
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.item-select-buttons {
    max-height: 603px;
    padding: 6px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: rgba(0, 0, 0, 0.95);
    gap: 6px;
    overflow-x: hidden;
    overflow-y: auto;
}

.facility-item {
    width: 75px;
    height: 75px;
    border: none;
    outline: none !important;
    border-radius: 0;
    transition: none;
    box-shadow: none;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #414241;
}

    .facility-item:hover {
        background-color: #7F7F7F;
    }

    .facility-item:disabled {
        opacity: .65;
    }

        .facility-item:disabled:hover {
            background-color: #414241;
        }

/* BUILDING SELECTION */

.building-select {
    max-width: fit-content;
    margin-bottom: 20px;
}

.building-select-header {
    width: 100%;
    height: 50px;
    background-color: #7F7F7F;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

    .building-select-header > p {
        margin: 0;
        color: whitesmoke;
        font-weight: 400;
        font-size: 1.2em;
    }

.building-select-buttons {
    display: flex;
    align-items: center;
    padding: 6px;
    gap: 6px;
    background-color: rgba(0, 0, 0, 0.95);
}

.facility-building {
    width: 95px;
    height: 95px;
    border-radius: 0;
    transition: none;
    box-shadow: none;
    background-size: 75px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #414241;
}

    .facility-building:hover {
        background-color: #7F7F7F;
    }

/* FACILITY RECIPES */

.recipe-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.recipe-list {
    width: 813px;
    height: fit-content;
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0.95);
    display: flex;
    flex-direction: column;
}

.recipe-header {
    width: 100%;
    height: 50px;
    background-color: #7F7F7F;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

    .recipe-header > p {
        margin: 0;
        color: whitesmoke;
        font-weight: 400;
        font-size: 1.2em;
    }

.facility-recipes {
    max-height: 250px;
    padding: 8px;
    display: grid;
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow-y: auto;
}

.facility-recipe {
    padding: 12px;
    background-color: #212121;
}

.recipe-item-info {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.input-item {
    width: 80px;
    aspect-ratio: 1;
    outline: none !important;
    border-radius: 0;
    border-width: 0;
    transition: none;
    box-shadow: none;
    background-size: 65px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #414241;
    cursor: default;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: whitesmoke;
    font-size: 18px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

    .input-item:hover {
        background-color: #7F7F7F;
    }

.recipe-info {
    width: 80px;
    margin: 0 -6px;
    display: flex;
    flex-direction: column;
}

    .recipe-info p {
        margin: 0;
        height: fit-content;
        color: #E5BA82;
        text-align: center;
    }

    .recipe-info img {
        height: 40px;
        width: auto;
        margin: auto;
    }

.power-icon {
    height: 16px;
    aspect-ratio: 1;
    display: inline-block;
    background-image: url(icons/ProductionPower.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.recipe-time {
    margin-top: auto;
    color: #E5BA82;
    text-align: center;
}

.recipe-multiplier {
    margin: auto 0 auto auto;
    display: flex;
    flex-direction: row;
}

    .recipe-multiplier > input {
        color: whitesmoke;
        width: 120px;
        text-align: right;
        font-size: 40px;
        background: none;
        border: 1px dashed whitesmoke;
    }

/* ITEM LIST INFOBOX */

.item-list-infobox {
    position: fixed;
    z-index: 1;
    max-width: 410px;
    background-color: rgba(0, 0, 0, 0.95);
    color: rgb(230, 230, 230);
    font-size: 16px;
}

    .item-list-infobox, .item-list-infobox > * {
        pointer-events: none;
    }

.item-list-infobox-header {
    background-color: #7F7F7F;
    margin: 0 !important;
    padding: 0.4rem;
    padding-left: 12px;
}

    .item-list-infobox-header > p {
        margin: 0 !important;
        vertical-align: middle;
    }

.item-list-infobox-info {
    margin: 0.8rem;
}

    .item-list-infobox-info > p {
        margin: 0;
    }

        .item-list-infobox-info > p > span, .item-list-infobox-info > p > i {
            color: #E5BA82;
        }

/* RECIPE EXTRA INFOBOX */

.extra-recipe-info {
    width: 40px;
    height: 40px;
    margin: auto 8px auto 0;
    outline: none !important;
    border-radius: 0;
    border-width: 0;
    transition: none;
    box-shadow: none;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #414241;
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

    .extra-recipe-info:hover {
        background-color: #7F7F7F;
    }

.recipe-infobox {
    position: fixed;
    z-index: 1;
    max-width: 410px;
    background-color: rgba(0, 0, 0, 0.95);
    color: rgb(230, 230, 230);
    font-size: 16px;
}

.recipe-infobox, .recipe-infobox > * {
    pointer-events: none;
}

.recipe-infobox-header {
    background-color: #7F7F7F;
    margin: 0 !important;
    padding: 0.4rem;
    padding-left: 12px;
}

    .recipe-infobox-header > p {
        margin: 0 !important;
        vertical-align: middle;
    }

.recipe-infobox-info {
    margin: 0.8rem;
}

.recipe-infobox-info > p {
    margin: 0;
}

    .recipe-infobox-info > p > span, .recipe-infobox-info > p > i {
        color: #E5BA82;
    }

/* BUILDING UPGRADE SELECTION */

.upgrade-select {
    max-width: fit-content;
    max-height: max-content;
    margin: 0 0 20px;
}

.upgrade-select-header {
    width: 100%;
    height: 50px;
    background-color: #7F7F7F;
    display: flex;
    align-items: center;
    padding: 0 0.6rem;
}

    .upgrade-select-header > p {
        margin: 0;
        color: whitesmoke;
        font-weight: 400;
        font-size: 1.2em;
    }

.upgrade-select-buttons {
    padding: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.95);
    gap: 6px;
}

.building-upgrade {
    width: 99px;
    height: 99px;
    border-radius: 0;
    transition: none;
    box-shadow: none;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #414241;
}

    .building-upgrade:hover {
        background-color: #7F7F7F;
    }

@media only screen and (max-width: 800px) {
    .recipe-infobox, .recipe-infobox > * {
        display: none !important;
    }
}

/* OTHER STUFF */

.button-disabled {
    opacity: .65;
}

    .button-disabled:hover {
        background-color: #414241 !important;
    }

*::-webkit-scrollbar {
    display: block;
    width: 12px;
}

*::-webkit-scrollbar-button {
    display: none;
}

*::-webkit-scrollbar-track {
    background-color: #00000000;
}

*::-webkit-scrollbar-track-piece {
    background-color: #4d4d4d;
}

*::-webkit-scrollbar-thumb {
    background-color: #7F7F7F;
}