.no-upgrades {
    width: 100%;
    grid-column: span 2;
    aspect-ratio: 2 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: whitesmoke;
}

.item-select-info {
    margin: auto;
    font-weight: 400;
    font-size: 1.2em;
    width: 30px;
    height: 30px;
    transition: none;
    border: 1px black solid;
    box-shadow: none;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #787878;
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.item-list-infobox {
    position: fixed;
    z-index: 1;
    max-width: 410px;
    background-color: rgba(0, 0, 0, 0.95);
    color: rgb(230, 230, 230);
    font-size: 16px;
}

    .item-list-infobox, .item-list-infobox > * {
        pointer-events: none;
    }

.item-list-infobox-header {
    background-color: #7F7F7F;
    margin: 0 !important;
    padding: 0.4rem;
    padding-left: 12px;
}

    .item-list-infobox-header > p {
        margin: 0 !important;
        vertical-align: middle;
    }

.item-list-infobox-info {
    margin: 0.8rem;
}

    .item-list-infobox-info > p {
        margin: 0;
    }

        .item-list-infobox-info > p > span, .item-list-infobox-info > p > i {
            color: #E5BA82;
        }