<div class="about-container" style="display: @(Display ? "flex" : "none")">
	<div class="about-background" @onclick="HideAbout"></div>
	<div class="about-infobox">
		<h1>Foxhole Logi Sheet</h1>
		<p>A Logistics Helper Tool for Wardens</p>
		<p>Currently includes Factory, Facility and Assembly Station sheets.</p>
		<p>For any suggestions/issues/feedback contact on Discord: @@Defie#9180</p>
		<p>Up to date for Foxhole Update 50 „Inferno”</p>
		<p>If you wish to gander at the mess of code that runs this, <a href="https://github.com/DefieSm1/FoxholeLogiSheet">click here.</a></p>
		<hr />
		<div class="changelog">
			<p>Version @version</p>
			<ul>
				<li>Added a function that allows you to see the raw material cost of vehicles in the Assembly Station Sheet, only for the sum cost though since I couldn't fit it elsewhere</li>
				<li>For now the raw material costs are fully hard-coded for each facility material, I'll try to make it a bit more dynamic-ish later</li>
				<li>Values are approximate and assume the use of the "most efficient" recipes, you can find them at "wwwroot/data/AssemblyStation/AssemblyRawCostData.json" in the repo</li>
				<li>Added a link to the Github Repo</li>
			</ul>
		</div>
		<hr />
		<p class="about-trademark"><a href="https://www.foxholegame.com/">Foxhole</a> is a registered trademark of <a href="https://www.siegecamp.com/">Siegecamp</a></p>
	</div>
</div> 

@code {
	[Parameter]
	public bool Display { get; set; } = false;

	[Parameter]
	public EventCallback<bool> DisplayChanged { get; set; }

	Task HideAbout() 
	{
		Display = !Display;
		return DisplayChanged.InvokeAsync(Display);
	}

	Version? version = typeof(Program).Assembly.GetName().Version;
}
