<div class="about-container" style="display: @(Display ? "flex" : "none")">
	<div class="about-background" @onclick="HideAbout"></div>
	<div class="about-infobox">
		<h1>Foxhole Logi Sheet @version</h1>
		<p>A Logistics Helper Tool for Wardens, currently only including a Factory Calculator.</p>
		<p>If you have any suggestions/issues/feedback contact on Discord: @@Defie#9180</p>
		<p>Up to date for Foxhole Update 50 „Inferno”</p>
		<p class="about-trademark"><a href="https://www.foxholegame.com/">Foxhole</a> is a registered trademark of <a href="https://www.siegecamp.com/">Siegecamp</a></p>
	</div>
</div> 

@code {
	[Parameter]
	public bool Display { get; set; } = false;

	[Parameter]
	public EventCallback<bool> DisplayChanged { get; set; }

	Task HideAbout() 
	{
		Display = !Display;
		return DisplayChanged.InvokeAsync(Display);
	}

	Version? version = typeof(Program).Assembly.GetName().Version;
}
