<div class="about-container" style="display: @(Display ? "flex" : "none")">
	<div class="about-background" @onclick="HideAbout"></div>
	<div class="about-infobox">
		<h1>Foxhole Logi Sheet</h1>
		<p>A Logistics Helper Tool for Wardens</p>
		<p>Currently includes Factory, Facility and Assembly Station sheets.</p>
		<p>For any suggestions/issues/feedback contact on Discord: @@Defie#9180</p>
		<p>Up to date for Foxhole Update 50 „Inferno”</p>
		<p>If you wish to gander at the mess of code that runs this, <a href="https://github.com/DefieSm1/FoxholeLogiSheet">click here.</a></p>
		<p><b>If you're having issues with the page's CSS, refresh the page with CTRL + F5</b></p>
		<hr />
		<div class="changelog">
			<p>Version @version</p>
			<ul>
				<li>Added a Minecraft NEI/JEI/whatever-it-is-now thingy to the Facility Sheet that allows easy lookup of all Facility related items</li>
				<li>Did a slight consolidation on how the infoboxes work, replaced the frankly stupid repetition in the JS with a simple foreach</li>
			</ul>
		</div>
		<hr />
		<p class="about-trademark"><a href="https://www.foxholegame.com/">Foxhole</a> is a registered trademark of <a href="https://www.siegecamp.com/">Siegecamp</a></p>
	</div>
</div> 

@code {
	[Parameter]
	public bool Display { get; set; } = false;

	[Parameter]
	public EventCallback<bool> DisplayChanged { get; set; }

	Task HideAbout() 
	{
		Display = !Display;
		return DisplayChanged.InvokeAsync(Display);
	}

	Version? version = typeof(Program).Assembly.GetName().Version;
}
