<div class="about-container" hidden="@(!Display)">
	<div class="about-background" @onclick="HideAbout"></div>
	<div class="about-infobox">
		<h1>Foxhole Logi Sheet</h1>
		<p>A Logistics Helper Tool for Wardens</p>
		<p>Includes Factory, Facility and Assembly Station reference sheets.</p>
		<p>For any suggestions/issues/feedback contact on Discord: @@defiesm1</p>
		<p>Up to date for Foxhole Update 55</p>
		<p>If you wish to gander at the mess of code that runs this, <a href="https://github.com/DefieSm1/FoxholeLogiSheet">click here.</a></p>
		<hr />
		<p><b>If you're having issues with the page's CSS, refresh the page with CTRL + F5</b></p>
		<hr />
		<div class="changelog">
			<p>Version @version</p>
			<ul>
				<li>Updated items/buildings and item/building descriptions for Update 56</li>
				<li>Cleaned up data and icons a bit, removed unused icons I somehow forgot to after their corresponding items got removed from game</li>
			</ul>
		</div>
		<hr />
		<p class="about-trademark"><a href="https://www.foxholegame.com/">Foxhole</a> is a registered trademark of <a href="https://www.siegecamp.com/">Siegecamp</a></p>
	</div>
</div> 

@code {
	[Parameter]
	public bool Display { get; set; } = false;

	[Parameter]
	public EventCallback<bool> DisplayChanged { get; set; }

	Task HideAbout() 
	{
		Display = !Display;
		return DisplayChanged.InvokeAsync(Display);
	}

	Version? version = typeof(Program).Assembly.GetName().Version;
}
