<div style="width: @(Width); height: @(Height);">@ChildContent</div>

@code {
    [Parameter]
    public string Width { get; set; } = "725px";

    [Parameter]
    public string Height { get; set; } = "fit-content";

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
