* {
    pointer-events: none;
}

p {
    margin-bottom: 0.6rem !important;
}

.building-infobox {
    position: fixed;
    z-index: 1;
    max-width: 410px;
    background-color: rgba(0, 0, 0, 0.95);
    color: rgb(230, 230, 230);
    font-size: 16px;
}

.infobox-header {
    background-color: #7F7F7F;
    margin: 0 !important;
    padding: 0.4rem;
    padding-left: 12px;
}

    .infobox-header > p {
        margin: 0 !important;
        vertical-align: middle;
    }

.building-info {
    padding: 12px;
}

.building-category {
    color: #E5BA82;
    font-style: italic;
}

.building-damagetype {
    color: #F2804B;
}

.building-damageinfo {
    color: #E5BA82;
}

.building-ammoused {
    color: #BCBCBC;
}

.building-cratesize {
    color: #F2804B;
}

.building-costs {
    flex-direction: column;
}

    .building-costs > * {
        display: flex;
        height: 40px;
        width: 100%;
        margin-top: 12px;
        background-color: #7F7F7F;
        flex-direction: row;
    }

    .building-costs img {
        height: 100%;
        padding: 4px;
    }

    .building-costs span {
        padding: 8px;
    }

@media only screen and (max-width: 800px) {
    * {
        display: none !important;
    }
}
