<div style="grid-template-columns: repeat(@(Columns), 1fr); grid-template-rows: repeat(@(Rows), 1fr); @(OverflowScroll ? "overflow-y: auto;" : "")">
    @ChildContent
</div>

@code {
    [Parameter]
    public int Columns { get; set; } = 6;

    [Parameter]
    public int Rows { get; set; } = 5;

    [Parameter]
    public bool OverflowScroll { get; set; } = false;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
