@inherits LayoutComponentBase

<PageTitle>LogiCalc</PageTitle>

<div class="page">
    <main>
        <div class="top-row">
            <NavMenu />
        </div>

        <article class="content">
            @Body
        </article>
    </main>
</div>
