<div style="background-image: url(icons/ProductionIcons/@(MaterialTag).png) @(MaterialTag == "Time" && NoTimeIcon ? "background-image: none;" : "")">
    @if (MaterialTag == "Time")
    {
        @(GetTimestamp(QueuePrice))
    }
    else if (!Tag)
    {
        @QueuePrice
    }
    else 
    {
        @(PriceInCrates ? Math.Ceiling(QueuePrice / (PriceInCrates ? CrateSize() : 1)) + " crates" : QueuePrice + " units")
    }
</div>

@code {
    [Parameter]
    public string MaterialTag { get; set; } = "";

    [Parameter]
    public double QueuePrice { get; set; } = 0;

    [Parameter]
    public bool Tag { get; set; } = true;

    [Parameter]
    public bool NoTimeIcon { get; set; } = false;

    [Parameter]
    public bool PriceInCrates { get; set; } = false;

    public int CrateSize() => MaterialTag switch
    {
        "MaterialBasic" => 100,
        "MaterialHeavyExplosive" => 30,
        _ => 20
    };

    public string GetTimestamp(double seconds, bool FullStamp = false) => TimeSpan.FromSeconds(seconds).ToString(TimeSpan.FromSeconds(seconds).Days > 0 || FullStamp ? @"d\:hh\:mm\:ss" : @"h\:mm\:ss");
}
